.footer * {
  box-sizing: border-box;
}

.footer__container {
  padding: 3rem 15px;
}

.footer__keywords h4 {
  text-transform: uppercase;
  color: #d88284;
  font-weight: bold;
  line-height: 1.6em;
  font-size: 1.25rem;
  margin-bottom: .5rem;
  margin-top: 0;
}

.footer__keywords p {
  line-height: 2rem;
  color: #6c757d;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.footer__keywords a {
  color: #6c757a;
  text-decoration: none;
  background-color: transparent;
}

.footer__keywords a:hover {
  text-decoration: underline;
}